<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Color Block</title>
    <link rel="stylesheet" href="styles.css">
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="client.js"></script>
  </head>
  <body ng-app='myApp'>
    <div>
      <header id="example">
        <h1>Color Block Counter</h1>
      <div id="cntrl" ng-controller='MyColorBlockController as mcbc'>
        <div class="button" id="btnOne">
            <button ng-click='mcbc.addBlock( $index )' type="button">Red</button>
              <p id="redCount">0</p>
        </div>
        <div class="button" id="btnTwo">
            <button ng-click='mcbc.addBlock( $index )' type="button" >Blue</button>
              <p id="blueCount">0</p>

        </div>
        <div class="button" id="btnThree">
            <button ng-click='mcbc.addBlock( $index )' type="button" >Green</button>
              <p id="greenCount">0</p>
        </div>
        <div class="button" id="btnFour">
            <button ng-click='mcbc.addBlock( $index )' type="button" >Yellow</button>
              <p id="yellowCount">0</p>
        </div>
      </div>
        </header>
    <div id="container">

  </div>
  </body>
</html>
